:root {
  background-color: #103269;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 5px;
  text-decoration: none;
}

body {
  color:#fff;
  font-size: 25px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  margin-top: 70px;
  padding: 10px;
  }

.header {
  display: inline-block;
  background-color: #63ECC4;
  font-size: 30px;
  line-height: 20px;
  width: 50%;
  margin: 0 auto;
  padding: 15px;
  position: absolute;
  top: 5px;
  left: 10px;
}

h1.header {
  display: inline-block;
  justify-content: end;
  color:#103269;
}

h1.header span {
  display: inline;
}

nav ul li a {
  color:#63ECC4;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: end;
  text-decoration-line: underline;
  position: absolute;
  top: 20px;
  right: 20px;
}

nav ul li a:hover {
  color: #fff;
}

img {
  width: 430px;
  height: 450px;
  background-color: #63ECC4;
}

.img_text {
  background-image: url("../images/Portfolio Picture.JPG");
  outline: 5px solid #63ECC4;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 46%;
  padding-top: 200px;
  padding-bottom: 500px;
}

.img_text h2 {
  display: inline-block;
  line-height: 50px;
  text-decoration: solid;
  background-color: #63ECC4;
  position: absolute;
  top: 800px;
  right: 20px;
}

.Intro h2 {
  display: inline-block;
  flex-wrap: wrap;
}

.AboutMe {
  list-style: none;
  display: inline-block;
}

.AboutMe p {
  line-height: 40px;
}

#Work {
  margin-bottom: 30px;
}

.Projects {
  display: grid;
  grid-gap: 1.5em;
  grid-template-columns: repeat(auto-fit, minmax(400px , 1fr));
  color:#103269;
}

.Site a {
   
}

.Site a:hover {
  color: red;
}

.Site:hover {
  color: red;
  transform: scale(1.1,1.1)
}

.Site img {
  background-color: #63ECC4;
}

.Site h3 {
  display: flex;
  flex-wrap: wrap;
  line-height: 35px;
  text-decoration: solid;
  margin-top: -4em;
}

.Site h3 span {
  background-color: #63ECC4;
}

.Site p {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  font-size: 20px;
  line-height: 20px;
  text-decoration: solid;
}

.Site p span {
  background-color: #63ECC4;
}

.h2 {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

#Contact ul {
list-style: none;
margin-top: 30px;
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
text-decoration-line: underline;
}

#Contact ul li:hover {
  color: red;
}

@media screen and (min-width: 1200px) {
  body {
    background-color: #fff;
  }
}

@media screen and (min-width: 992px) {
  body {
    background-color: #fff;
  }
}
  
@media screen and (min-width: 768px) {
  body {
    background-color: #fff;
  }
}
  
@media screen and (min-width: 576px) {
  body {
    background-color: #fff;
  }
}

@media screen and (min-width: 1px) {
  body {
    background-color: #fff;
  }
}